@model IEnumerable<UnicarAdmin.Models.DireccionViewModel>

@{
    ViewBag.Title = "Direcciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DIRECCIONES</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<form asp-controller="Viaje" asp-action="Index">
    <p>
        Buscar direccion: <input type="text" name="SearchString">
        <input type="submit" value="Buscar" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalidadNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalidadNombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
