@model UnicarAdmin.Models.UsuarioViewModel

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Detalles del usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValoracionMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValoracionMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroViajes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroViajes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
