@model UnicarAdmin.Models.ValoracionViewModel

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>
<h4>Borrar Valoración</h4>

<h3>¿Estás seguro de que quieres borrar esta valoración?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasajero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasajero)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
