@model IEnumerable<UnicarAdmin.Models.ValoracionViewModel>

@{
    ViewBag.Title = "Valoraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VALORACIONES</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valoracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pasajero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comentario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Valoracion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Viaje)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pasajero)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
