@model IEnumerable<UnicarAdmin.Models.AlertaViewModel>

@{
    ViewBag.Title = "Alertas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ALERTA</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>

<form asp-controller="Viaje" asp-action="Index">
    <p>
        Buscar alerta por id: <input type="text" name="SearchString">
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viaje)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Viaje)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
