@model UnicarAdmin.DefaultConnection.ViajeViewModel

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>
<h4>Eliminar Viaje</h4>

<h3>¿Estás seguro de que quieres borrar este viaje?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plazas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlazasOcupadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlazasOcupadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadLlegadaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadLlegadaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalidadSalidaNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalidadSalidaNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
